<%- include('../partials/header.ejs') %>

<main class="error-container">
  <h1><%= title %></h1>
  <p class="message"><%- message %></p>
  <a href="/" class="home-link">Go to Homepage</a>
</main>

<%- include('../partials/footer.ejs') %>
